<nav>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/employed">WORKING</a></li>
    <li><a href="/unemployed">SEEKING WORK</a></li>
    <li class="logoutLink"><a href="/logout">Logout</a></li>
  </ul>
</nav>
